#mycards{
    
    
    margin-top: 35px;
    margin-left: 3%;
    
}
#mycards div{
    margin-left: 20px;
    
    
}
.sepetShow{
    justify-content: center;
    display: flex;
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	width: 100%;
	left:0;
	right: 0;
	z-index: 99999;
    background-color: red;
     
}
#sepetegit{
    height: 1.5%;
    margin-left: 5px;
    margin-top: 1px;
}
#sepeth5{
    margin-top: 5px;
}

